Se borrarán os seguintes túneis:
<ul>
	{% for t in tunnels %}
		<li><span style="font-weight:bold;">{{t.description}}</span>
			<div style="font-size: 70%">
				<span style="font-weight: bold">Dende</span>:  {{t.url}}<br/>
				<span style="font-weight: bold">Ata</span>:  {{t.destination}}<br/>
				<span style="font-weight: bold">Porto/Servicio</span>: {{t.dport}}
			</div>
		</li>
	{% endfor %}
</ul>
