<form id="dataAddRoleForm">
	<div class="form-group">
		<label for="name">Descripción</label>
		<input name="name" value="" class="form-control form-control-sm" type="text" placeholder="Indica unha breve descripción do rol">
	</div>
	<div class="form-group">
		<label for="rol">Nome do Rol</label>
		<input name="rol" value="" class="form-control form-control-sm" type="text" placeholder="Indica o nome do Rol">
	</div>
</form>
