<div class="row">
	<div class="col-md-10">
		{{description}} - {{domainname}} [{{ip}}]
	</div>
	<div class="col-md-2">
		{% include "widgets/switch.html.twig" with {"name": "onoffcomputer", "callback":"switchComputer", "checked": checked } %}
	</div>
</div>
<input type="hidden" id="computer_mac" value="{{mac}}"/>
