<form id="dataUserForm">
	<div class="form-group">
		<label for="description">Nome</label>
		<input name="name" value="" class="form-control form-control-sm" type="text" placeholder="Indica nome e apelidos do usuario">
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="username">Nome de Usuario</label>
			<input name="username" value="" class="form-control form-control-sm" type="text" placeholder="Indica o seu nome de usuario">
		</div>
		<div class="form-group col-md-6">
			<label for="password">Password</label>
			<input name="password" value="" class="form-control form-control-sm" type="text" placeholder="Indica a súa password">
		</div>
	</div>
</form>
